In [247]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import itertools
from sklearn import cross_validation
from sklearn import preprocessing

np.random.seed(15)

#read in datasets
teams = pd.read_csv('Teams.csv')
seasons = pd.read_csv('Seasons.csv')
tourneyCompactResults = pd.read_csv('TourneyCompactResults.csv')
tourneyDetailedResults = pd.read_csv('TourneyDetailedResults.csv')
tourneySeeds = pd.read_csv('TourneySeeds.csv')
tourneySlots = pd.read_csv('TourneySlots.csv')
regularSeasonCompactResults = pd.read_csv('RegularSeasonCompactResults.csv')
regularSeasonDetailedResults = pd.read_csv('RegularSeasonDetailedResults.csv')

#turn all datasets into DataFrames
teams_df = pd.DataFrame(teams)
seasons_df = pd.DataFrame(seasons)
tourneyCompact_df = pd.DataFrame(tourneyCompactResults)
tourneyDetailed_df = pd.DataFrame(tourneyDetailedResults)
tourneySeeds_df = pd.DataFrame(tourneySeeds)
tourneySlots_df = pd.DataFrame(tourneySlots)
regSeasonCompact_df = pd.DataFrame(regularSeasonCompactResults)
regSeasonDetailed_df = pd.DataFrame(regularSeasonDetailedResults)

In [248]:
tourneySlots_df.head()

   Season  Slot Strongseed Weakseed
0    1985  R1W1        W01      W16
1    1985  R1W2        W02      W15
2    1985  R1W3        W03      W14
3    1985  R1W4        W04      W13
4    1985  R1W5        W05      W12

In [249]:
#team dictionary to use with all other datasets to replace team ID with team name
team_dict = teams_df.set_index('Team_Id')['Team_Name'].to_dict()
team_dict

{1101: 'Abilene Chr',
 1102: 'Air Force',
 1103: 'Akron',
 1104: 'Alabama',
 1105: 'Alabama A&M',
 1106: 'Alabama St',
 1107: 'Albany NY',
 1108: 'Alcorn St',
 1109: 'Alliant Intl',
 1110: 'American Univ',
 1111: 'Appalachian St',
 1112: 'Arizona',
 1113: 'Arizona St',
 1114: 'Ark Little Rock',
 1115: 'Ark Pine Bluff',
 1116: 'Arkansas',
 1117: 'Arkansas St',
 1118: 'Armstrong St',
 1119: 'Army',
 1120: 'Auburn',
 1121: 'Augusta',
 1122: 'Austin Peay',
 1123: 'Ball St',
 1124: 'Baylor',
 1125: 'Belmont',
 1126: 'Bethune-Cookman',
 1127: 'Binghamton',
 1128: 'Birmingham So',
 1129: 'Boise St',
 1130: 'Boston College',
 1131: 'Boston Univ',
 1132: 'Bowling Green',
 1133: 'Bradley',
 1134: 'Brooklyn',
 1135: 'Brown',
 1136: 'Bryant',
 1137: 'Bucknell',
 1138: 'Buffalo',
 1139: 'Butler',
 1140: 'BYU',
 1141: 'C Michigan',
 1142: 'Cal Poly SLO',
 1143: 'California',
 1144: 'Campbell',
 1145: 'Canisius',
 1146: 'Cent Arkansas',
 1147: 'Centenary',
 1148: 'Central Conn',
 1149: 'Charleston So',
 1150: 'Charlotte',
 1151: 'Chattanooga',
 1152: 'Chicago St',
 1153: 'Cincinnati',
 1154: 'Citadel',
 1155: 'Clemson',
 1156: 'Cleveland St',
 1157: 'Coastal Car',
 1158: 'Col Charleston',
 1159: 'Colgate',
 1160: 'Colorado',
 1161: 'Colorado St',
 1162: 'Columbia',
 1163: 'Connecticut',
 1164: 'Coppin St',
 1165: 'Cornell',
 1166: 'Creighton',
 1167: 'CS Bakersfield',
 1168: 'CS Fullerton',
 1169: 'CS Northridge',
 1170: 'CS Sacramento',
 1171: 'Dartmouth',
 1172: 'Davidson',
 1173: 'Dayton',
 1174: 'Delaware',
 1175: 'Delaware St',
 1176: 'Denver',
 1177: 'DePaul',
 1178: 'Detroit',
 1179: 'Drake',
 1180: 'Drexel',
 1181: 'Duke',
 1182: 'Duquesne',
 1183: 'E Illinois',
 1184: 'E Kentucky',
 1185: 'E Michigan',
 1186: 'E Washington',
 1187: 'East Carolina',
 1188: 'Edwardsville',
 1189: 'Elon',
 1190: 'ETSU',
 1191: 'Evansville',
 1192: 'F Dickinson',
 1193: 'Fairfield',
 1194: 'FL Atlantic',
 1195: 'FL Gulf Coast',
 1196: 'Florida',
 1197: 'Florida A&M',
 1198: 'Florida Intl',
 1199: 'Florida St',
 1200: 'Fordham',
 1201: 'Fresno St',
 1202: 'Furman',
 1203: 'G Washington',
 1204: 'Ga Southern',
 1205: 'Gardner Webb',
 1206: 'George Mason',
 1207: 'Georgetown',
 1208: 'Georgia',
 1209: 'Georgia St',
 1210: 'Georgia Tech',
 1211: 'Gonzaga',
 1212: 'Grambling',
 1213: 'Grand Canyon',
 1214: 'Hampton',
 1215: 'Hardin-Simmons',
 1216: 'Hartford',
 1217: 'Harvard',
 1218: 'Hawaii',
 1219: 'High Point',
 1220: 'Hofstra',
 1221: 'Holy Cross',
 1222: 'Houston',
 1223: 'Houston Bap',
 1224: 'Howard',
 1225: 'Idaho',
 1226: 'Idaho St',
 1227: 'IL Chicago',
 1228: 'Illinois',
 1229: 'Illinois St',
 1230: 'Incarnate Word',
 1231: 'Indiana',
 1232: 'Indiana St',
 1233: 'Iona',
 1234: 'Iowa',
 1235: 'Iowa St',
 1236: 'IPFW',
 1237: 'IUPUI',
 1238: 'Jackson St',
 1239: 'Jacksonville',
 1240: 'Jacksonville St',
 1241: 'James Madison',
 1242: 'Kansas',
 1243: 'Kansas St',
 1244: 'Kennesaw',
 1245: 'Kent',
 1246: 'Kentucky',
 1247: 'La Salle',
 1248: 'Lafayette',
 1249: 'Lamar',
 1250: 'Lehigh',
 1251: 'Liberty',
 1252: 'Lipscomb',
 1253: 'Long Beach St',
 1254: 'Long Island',
 1255: 'Longwood',
 1256: 'Louisiana Tech',
 1257: 'Louisville',
 1258: 'Loy Marymount',
 1259: 'Loyola MD',
 1260: 'Loyola-Chicago',
 1261: 'LSU',
 1262: 'MA Lowell',
 1263: 'Maine',
 1264: 'Manhattan',
 1265: 'Marist',
 1266: 'Marquette',
 1267: 'Marshall',
 1268: 'Maryland',
 1269: 'Massachusetts',
 1270: 'McNeese St',
 1271: 'MD E Shore',
 1272: 'Memphis',
 1273: 'Mercer',
 1274: 'Miami FL',
 1275: 'Miami OH',
 1276: 'Michigan',
 1277: 'Michigan St',
 1278: 'Minnesota',
 1279: 'Mississippi',
 1280: 'Mississippi St',
 1281: 'Missouri',
 1282: 'Missouri KC',
 1283: 'Missouri St',
 1284: 'Monmouth NJ',
 1285: 'Montana',
 1286: 'Montana St',
 1287: 'Morehead St',
 1288: 'Morgan St',
 1289: 'Morris Brown',
 1290: 'MS Valley St',
 1291: "Mt St Mary's",
 1292: 'MTSU',
 1293: 'Murray St',
 1294: 'N Colorado',
 1295: 'N Dakota St',
 1296: 'N Illinois',
 1297: 'N Kentucky',
 1298: 'Navy',
 1299: 'NC A&T',
 1300: 'NC Central',
 1301: 'NC State',
 1302: 'NE Illinois',
 1303: 'NE Omaha',
 1304: 'Nebraska',
 1305: 'Nevada',
 1306: 'New Hampshire',
 1307: 'New Mexico',
 1308: 'New Mexico St',
 1309: 'New Orleans',
 1310: 'Niagara',
 1311: 'Nicholls St',
 1312: 'NJIT',
 1313: 'Norfolk St',
 1314: 'North Carolina',
 1315: 'North Dakota',
 1316: 'North Florida',
 1317: 'North Texas',
 1318: 'Northeastern',
 1319: 'Northern Arizona',
 1320: 'Northern Iowa',
 1321: 'Northwestern',
 1322: 'Northwestern LA',
 1323: 'Notre Dame',
 1324: 'Oakland',
 1325: 'Ohio',
 1326: 'Ohio St',
 1327: 'Okla City',
 1328: 'Oklahoma',
 1329: 'Oklahoma St',
 1330: 'Old Dominion',
 1331: 'Oral Roberts',
 1332: 'Oregon',
 1333: 'Oregon St',
 1334: 'Pacific',
 1335: 'Penn',
 1336: 'Penn St',
 1337: 'Pepperdine',
 1338: 'Pittsburgh',
 1339: 'Portland',
 1340: 'Portland St',
 1341: 'Prairie View',
 1342: 'Presbyterian',
 1343: 'Princeton',
 1344: 'Providence',
 1345: 'Purdue',
 1346: 'Quinnipiac',
 1347: 'Radford',
 1348: 'Rhode Island',
 1349: 'Rice',
 1350: 'Richmond',
 1351: 'Rider',
 1352: 'Robert Morris',
 1353: 'Rutgers',
 1354: 'S Carolina St',
 1355: 'S Dakota St',
 1356: 'S Illinois',
 1357: 'Sacred Heart',
 1358: 'Sam Houston St',
 1359: 'Samford',
 1360: 'San Diego',
 1361: 'San Diego St',
 1362: 'San Francisco',
 1363: 'San Jose St',
 1364: 'Santa Barbara',
 1365: 'Santa Clara',
 1366: 'Savannah St',
 1367: 'SC Upstate',
 1368: 'SE Louisiana',
 1369: 'SE Missouri St',
 1370: 'Seattle',
 1371: 'Seton Hall',
 1372: 'SF Austin',
 1373: 'Siena',
 1374: 'SMU',
 1375: 'South Alabama',
 1376: 'South Carolina',
 1377: 'South Dakota',
 1378: 'South Florida',
 1379: 'Southern Miss',
 1380: 'Southern Univ',
 1381: 'Southern Utah',
 1382: 'St Bonaventure',
 1383: 'St Francis NY',
 1384: 'St Francis PA',
 1385: "St John's",
 1386: "St Joseph's PA",
 1387: 'St Louis',
 1388: "St Mary's CA",
 1389: "St Peter's",
 1390: 'Stanford',
 1391: 'Stetson',
 1392: 'Stony Brook',
 1393: 'Syracuse',
 1394: 'TAM C. Christi',
 1395: 'TCU',
 1396: 'Temple',
 1397: 'Tennessee',
 1398: 'Tennessee St',
 1399: 'Tennessee Tech',
 1400: 'Texas',
 1401: 'Texas A&M',
 1402: 'Texas St',
 1403: 'Texas Tech',
 1404: 'TN Martin',
 1405: 'Toledo',
 1406: 'Towson',
 1407: 'Troy',
 1408: 'Tulane',
 1409: 'Tulsa',
 1410: 'UTRGV',
 1411: 'TX Southern',
 1412: 'UAB',
 1413: 'UC Davis',
 1414: 'UC Irvine',
 1415: 'UC Riverside',
 1416: 'UCF',
 1417: 'UCLA',
 1418: 'ULL',
 1419: 'ULM',
 1420: 'UMBC',
 1421: 'UNC Asheville',
 1422: 'UNC Greensboro',
 1423: 'UNC Wilmington',
 1424: 'UNLV',
 1425: 'USC',
 1426: 'UT Arlington',
 1427: 'UT San Antonio',
 1428: 'Utah',
 1429: 'Utah St',
 1430: 'Utah Valley',
 1431: 'UTEP',
 1432: 'Utica',
 1433: 'VA Commonwealth',
 1434: 'Valparaiso',
 1435: 'Vanderbilt',
 1436: 'Vermont',
 1437: 'Villanova',
 1438: 'Virginia',
 1439: 'Virginia Tech',
 1440: 'VMI',
 1441: 'W Carolina',
 1442: 'W Illinois',
 1443: 'WKU',
 1444: 'W Michigan',
 1445: 'W Salem St',
 1446: 'W Texas A&M',
 1447: 'Wagner',
 1448: 'Wake Forest',
 1449: 'Washington',
 1450: 'Washington St',
 1451: 'Weber St',
 1452: 'West Virginia',
 1453: 'WI Green Bay',
 1454: 'WI Milwaukee',
 1455: 'Wichita St',
 1456: 'William & Mary',
 1457: 'Winthrop',
 1458: 'Wisconsin',
 1459: 'Wofford',
 1460: 'Wright St',
 1461: 'Wyoming',
 1462: 'Xavier',
 1463: 'Yale',
 1464: 'Youngstown St'}

In [250]:
### The following data frames use the team_dict to map all
### of the team id numbers to the actual team name

In [251]:
#Tourney Seeds
tourneySeeds_df['Team'] = tourneySeeds_df['Team'].map(team_dict)
tourneySeeds_df

      Season  Seed             Team
0       1985   W01       Georgetown
1       1985   W02     Georgia Tech
2       1985   W03         Illinois
3       1985   W04   Loyola-Chicago
4       1985   W05              SMU
5       1985   W06          Georgia
6       1985   W07         Syracuse
7       1985   W08           Temple
8       1985   W09    Virginia Tech
9       1985   W10           DePaul
10      1985   W11       Wichita St
11      1985   W12     Old Dominion
12      1985   W13             Iona
13      1985   W14     Northeastern
14      1985   W15           Mercer
15      1985   W16           Lehigh
16      1985   X01        St John's
17      1985   X02  VA Commonwealth
18      1985   X03         NC State
19      1985   X04             UNLV
20      1985   X05       Washington
21      1985   X06            Tulsa
22      1985   X07          Alabama
23      1985   X08             Iowa
24      1985   X09         Arkansas
25      1985   X10          Arizona
26      1985   X11             UTEP
27      1985   X12         Kentucky
28      1985   X13     San Diego St
29      1985   X14           Nevada
...      ...   ...              ...
2052    2016   Y05         Maryland
2053    2016   Y06          Arizona
2054    2016   Y07             Iowa
2055    2016   Y08         Colorado
2056    2016   Y09      Connecticut
2057    2016   Y10           Temple
2058    2016  Y11a       Vanderbilt
2059    2016  Y11b       Wichita St
2060    2016   Y12      S Dakota St
2061    2016   Y13           Hawaii
2062    2016   Y14          Buffalo
2063    2016   Y15    UNC Asheville
2064    2016   Y16      Austin Peay
2065    2016   Z01           Oregon
2066    2016   Z02         Oklahoma
2067    2016   Z03        Texas A&M
2068    2016   Z04             Duke
2069    2016   Z05           Baylor
2070    2016   Z06            Texas
2071    2016   Z07        Oregon St
2072    2016   Z08   St Joseph's PA
2073    2016   Z09       Cincinnati
2074    2016   Z10  VA Commonwealth
2075    2016   Z11    Northern Iowa
2076    2016   Z12             Yale
2077    2016   Z13   UNC Wilmington
2078    2016   Z14     WI Green Bay
2079    2016   Z15   CS Bakersfield
2080    2016  Z16a       Holy Cross
2081    2016  Z16b    Southern Univ

[2082 rows x 3 columns]

In [252]:
#Tourney Compact
tourneyCompact_df['Wteam'] = tourneyCompact_df['Wteam'].map(team_dict) #winning teams
tourneyCompact_df['Lteam'] = tourneyCompact_df['Lteam'].map(team_dict) #losing teams
tourneyCompact_df.head()

   Season  Daynum        Wteam  Wscore   Lteam  Lscore Wloc  Numot
0    1985     136     Arkansas      63    Iowa      54    N      0
1    1985     136       Auburn      59  Purdue      58    N      0
2    1985     136   Georgetown      68  Lehigh      43    N      0
3    1985     136  Illinois St      58     USC      55    N      0
4    1985     136       Kansas      49    Ohio      38    N      0

In [253]:
#Tourney Detailed
tourneyDetailed_df['Wteam'] = tourneyDetailed_df['Wteam'].map(team_dict) #winning teams
tourneyDetailed_df['Lteam'] = tourneyDetailed_df['Lteam'].map(team_dict) #losing teams
tourneyDetailed_df.head()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
0,2003,134,UNC Asheville,92,TX Southern,84,N,1,32,69,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,Arizona,80,Vermont,51,N,0,31,66,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,Arizona St,84,Memphis,71,N,0,31,59,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,C Michigan,79,Creighton,73,N,0,29,53,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,California,76,NC State,74,N,1,27,64,...,21,15,20,10,26,16,14,5,8,19

In [254]:
#Regular Season Compact
regSeasonCompact_df['Wteam'] = regSeasonCompact_df['Wteam'].map(team_dict) #winning teams
regSeasonCompact_df['Lteam'] = regSeasonCompact_df['Lteam'].map(team_dict) #losing teams
regSeasonCompact_df.head()

   Season  Daynum        Wteam  Wscore          Lteam  Lscore Wloc  Numot
0    1985      20     Illinois      81       Oklahoma      64    N      0
1    1985      25   Alabama St      77  S Carolina St      70    H      0
2    1985      25      Arizona      63    Houston Bap      56    H      0
3    1985      25      Cornell      70          Utica      54    H      0
4    1985      25  F Dickinson      86         Wagner      74    H      0

In [255]:
#Regular Season Detailed
regSeasonDetailed_df['Wteam'] = regSeasonDetailed_df['Wteam'].map(team_dict) #winning teams
regSeasonDetailed_df['Lteam'] = regSeasonDetailed_df['Lteam'].map(team_dict) #losing teams
regSeasonDetailed_df.head()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
0,2003,10,Alabama,68,Oklahoma,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,Memphis,70,Syracuse,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,Marquette,73,Villanova,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,N Illinois,56,Winthrop,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,Texas,77,Georgia,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

In [256]:

tourneySeeds_df.head()

   Season Seed            Team
0    1985  W01      Georgetown
1    1985  W02    Georgia Tech
2    1985  W03        Illinois
3    1985  W04  Loyola-Chicago
4    1985  W05             SMU

In [263]:
# trying to create a dictionary that looks similiar to this:
# {(1985,W01):Georgetown, (1985,W02):Georgia Tech}

#seeds_dict = dict(zip(tourneySeeds_df.Season, tourneySeeds_df.Seed))